# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Build
/build

# Env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Excel y archivos personales
*.xlsx
QuinielaMundial2026/
mock/
api-football.txt
password-supabase.txt
